.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    
}

.header-container img{
    width: 300px;
}

.header-container h1{
    color: white;
}

.header-container img{
    margin-bottom: -70px;
}
